*.out
.hg
.hgignore
tags
build
CMakeFiles
CMakeCache.txt
Makefile
*.log
*.swp
*.status
Makevars
svn.ignore
cmake_install.cmake
CTestTestfile.cmake
*.pyc
*.o
*.so
*.dylib
install_manifest.txt
Testing
biolib_example.py
*.pm
*_wrap.c
*_wrap.cxx
biolib_python*.py
html
pkg
*.gem
*.tgz
doc/examples/c/affy
biolib-*
*.tmp
src/mappings/swig/*/*/biolib
src/mappings/swig/python/*/*py
*.dll
*.a
doc/wiki/*
