[submodule "src/clibs/rqtl"]
	path = src/clibs/rqtl
	url = git://github.com/pjotrp/rqtl.git
[submodule "tools/cmake-support"]
	path = tools/cmake-support
	url = git://github.com/pjotrp/cmake-support.git
[submodule "tools/rubydoctest"]
	path = tools/rubydoctest
	url = git://github.com/pjotrp/rubydoctest.git
[submodule "contrib/biopp"]
	path = contrib/biopp
	url = git://github.com/pjotrp/biopp.git
