[submodule "src/clibs/rqtl"]
	path = src/clibs/rqtl
	url = git://github.com/pjotrp/rqtl-mqm.git
[submodule "tools/cmake-support"]
	path = tools/cmake-support
	url = git://github.com/pjotrp/cmake-support.git
[submodule "tools/rubydoctest"]
	path = tools/rubydoctest
	url = git://github.com/pjotrp/rubydoctest.git
[submodule "contrib/libsequence-1.6.6"]
	path = contrib/libsequence-1.6.6
	url = git://github.com/pjotrp/libsequence.git
[submodule "contrib/boost"]
	path = contrib/boost
	url = git://gitorious.org/boost/svn.git
[submodule "contrib/EMBOSS"]
	path = contrib/EMBOSS
	url = git://github.com/pjotrp/EMBOSS.git
[submodule "contrib/staden_io_lib"]
	path = contrib/staden_io_lib
	url = http://github.com/pjotrp/biolib_staden_io_lib.git
